.btn-detail {
  color: lightcyan;
  background-color: lightcoral;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 10px;

  .router-link-color {
    color: currentColor;
    text-decoration: none;
  }
}
